*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.HeroCont{
    display: flex;
    background-color: green;
    width: 75vh;
    height: 55vh;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;
}

#Title  {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Eater, serif;
}

.FlashingText1{   
    display: flex;
    margin-top: 1em;
}

#Flash{
    animation: blinkSmooth 1s infinite;
}

.FlashingText1 img{
    width: 10em;
    height: 100%;
}

@keyframes blinkSmooth{
    0% {opacity:1}
    50% {opacity:0;}
    100% {opacity:1}
}

.transCircles{
    position: absolute;
    width: 11em;
    top: 17.4em;
}

.bottomHero{
    display: flex; 
    justify-content: end;
    align-items: end;
}