*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.HeroCont{
    display: flex;
    background-color:white;
    flex-direction: column;
    align-items: center;
    width: 80vh;
    height: 68vh;
}

#Title  {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Eater, serif;
    text-shadow: 0 0 5px #fff, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0;
    animation: radioactive 1.5s infinite alternate;
}
@keyframes radioactive{
    0%,100%{
        text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
    }
    50%{
        text-shadow: 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
    }
}
@keyframes radioactive-box{
    0%,100%{
        box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
    }
    50%{
        box-shadow: 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
    }
}


.FlashingText1{   
    display: flex;
    margin-top: 1em;

}

#Flash{
    animation: blinkSmooth 1s infinite;
}

.FlashingText1 img{
    width: 10em;
    height: 100%;
}

@keyframes blinkSmooth{
    0% {opacity:1}
    50% {opacity:0;}
    100% {opacity:1}
}

.transCircles{
    position: absolute;
    width: 11em;
    top: 24%;
}

.bottomHero{
    display: flex;
    width: 95%;
    height:50%;
    gap: 10%;
    flex-direction: column;
}

.radioactiveWords{
    animation: radioactive 1.5s infinite alternate;
    text-shadow: 0 0 5px #fff, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0;
}

#fact1{
    border: 4px solid #ccff00;
    animation: radioactive-box 1.5s infinite alternate;
}
#fact2{
    border: 4px solid #ccff00;
    animation: radioactive-box 1.5s infinite alternate;
}
#fact3{
    border: 4px solid #ccff00;
    animation: radioactive-box 1.5s infinite alternate;
}